<template name="list">
	<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				{{#if Template.subscriptionsReady}}
				{{#if groups}}
				<h3>Groups</h3>
				<ul class="list-group">
					{{#each group in groups}}
						<a class="list-group-item" href="{{pathFor route='/groups/:id' id=group._id}}">
							<span class="badge">{{points group}}</span>
							{{group.name}}
						</a>
					{{/each}}
				</ul>
				{{else}}
				<div class="ui center aligned container">
					<p>You don't appear to be a part of any groups - join or create one using the buttons below!</p>
				</div>
				{{/if}}
				{{else}}
				Loading...
				{{/if}}
			</div>
	</div>
</template>
