<template name="layout">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ pathFor route='/'}}">
					<i class="fa fa-beer"></i> BEVS <del>2.0</del> 1.5
				</a>
			</div>

			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>{{> loginMenu}}</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
		{{#if authInProcess}}
			Logging in...
		{{else}}
			{{#if canShow}}
				{{> Template.dynamic template=content}}
			{{else}}
				{{> prelaunch}}
			{{/if}}
		{{/if}}
	</div>
</template>
