<template name="historyDetails">
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
				{{#if singleWinner history.winningUser}}
					<i class="fa fa-trophy"></i> {{winner history.winningUser}}
				{{else}}
					Vote tie!
				{{/if}}
				</div>
			</div>
			<div class="panel-body">
				{{#if history.winningBeer.image}}
				<img class="img-rounded img-responsive" src="{{history.winningBeer.image}}" />
				{{else}}
				<img class="img-rounded img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/58/Pepsi_logo.svg/1200px-Pepsi_logo.svg.png" />
				{{/if}}
				{{> beerCollection beers=history.votes action="voteCount" small=true}}
			</div>
			<div class="panel-footer">
				{{date history.date}}
			</div>
		</div>
	</div>
</template>

<template name="voteCount">
	{{total}}
</template>
