<template name="leaderboard">
  <div>
    <h1 class="ui header">Leaderboard</h1>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>
            Player
          </th>
          <th>
            Points
          </th>
        </tr>
      </thead>
      <tbody>
      {{#each member in sortedMembers}}
      <tr>
        <td>
          <img class="ui middle aligned mini circular image" src="{{member.profile.image}}"/>
          {{member.profile.name}}
        </td>
        <td>
          {{member.points}}
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>
