<template name="voting">
  {{> votingModal group=group}}
  <div class="text-center">
    <div class="center-block">
      {{#if group.voting}}
        {{#if hasVoted}}
          {{> votedMessage}}
        {{else}}
          <h3>Voting in progress...</h3>
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#voteModal">Cast vote</button>
        {{/if}}
      {{else}}
          <h3>Currently no voting in progress</h3>
          <button type="button" class="btn btn-info btn-lg" id="startVote" data-toggle="modal" data-target="#voteModal">Start a vote</button>
      {{/if}}
    </div>
  </div>
</template>

<template name="votedMessage">
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="alert alert-success">
          Vote recorded!
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{progress}}%">
            {{group.voting.voted.length}}/{{group.members.length}}
          </div>
        </div>
        <button type="button" class="btn btn-success btn-lg" id="closeVote">Close Vote</button>
    </div>
  </div>
</template>
